<div class="container">

  <h3 class="d-flex justify-content-center">CamVideoDoorBell System</h3>
  <h5 class="d-flex justify-content-center">Managment Menu</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="playlist"
        class="m-1 btn btn-light btn-outline-primary" Button>{{'button.Playlist'| translate}}</button>
      </li>
      <li class="nav-item">
        <button routerLink="sample"
        class="m-1 btn btn-light btn-outline-primary" Button>{{'button.Sample'| translate}}</button>
      </li>
      <li class="nav-item">
        <button routerLink="wirelesscon"
        class="m-1 btn btn-light btn-outline-primary" Button>{{'button.Wi-Fi'| translate}}</button>
      </li>
      <li class="nav-item">
        <button routerLink="camera"
        class="m-1 btn btn-light btn-outline-primary" Button>{{'button.Stream'| translate}}</button>
      </li>

      <li class="nav-item">
        <button (click)="uselanguage('en')" 
        class="m-1 btn btn-light btn-outline-primary" Button>en</button>
      </li>
      <li class="nav-item">
        <button (click)="uselanguage('ua')" 
        class="m-1 btn btn-light btn-outline-primary" Button>ua</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

</div>

